

<suite name="s1" verbose="1" parallel="none">
		<listeners>
			<listener class-name="org.uncommons.reportng.HTMLReporter" />
			<listener class-name="org.uncommons.reportng.JUnitXMLReporter" />
		</listeners>
	<test name="t2" preserve-order="true">

		<classes>
			<class name="com.webtest.demo.TpShopTest01"></class>
			<class name="com.webtest.demo.TPshopTest02"></class>
			<class name="com.webtest.demo.TPshopTest03"></class>
		</classes>
	</test>

</suite>